---
layout: default
title: Produtos
permalink: /produtos/
---
{% for tag in site.categories  %}
    <div class="text-tag">
        <h2 class="card-text">{{ tag[0] }}</h2>
    </div>
    {% assign pages_list = tag[1] %}
    {% for post in pages_list reversed %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <h4 style="text-transform: uppercase;" class="card-text">{{ post.title | escape }}</h4>
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <img class="card-img-top" src="{{ post.image | escape }}" alt="Imagem {{ post.title | escape }}">
                </a>
            </div>
        </div>
    {% endfor %}
{% endfor %}