---
layout: default
title: Produtos
permalink: /produtos/
---
{% for category in site.categories  %}
    <div class="text-tag">
        <h1 style="font-family: 'Quicksand', sans-serif; text-transform: uppercase; text-align: center;"
            class="card-text"
            id="{{ category[0]|slugize }}">{{ category[0] }}</h1>
    </div>
    {% assign pages_list = category[1] %}
    {% for post in pages_list reversed %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <h4 style="text-transform: uppercase;" class="card-text">{{ post.title | escape }}</h4>
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <img class="card-img-top" src="{{ post.image | escape }}" alt="Imagem {{ post.title | escape }}">
                </a>
            </div>
        </div>
    {% endfor %}
{% endfor %}
