<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">IGOW BRINDES</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if page.url == '/' %}active{% endif %}">
        <a class="nav-link" href="{{site.baseurl}}">INÍCIO</a>
      </li>
      <li class="nav-item {% if page.url == '/contato/' %}active{% endif %}">
        <a class="nav-link" href="{{site.baseurl}}/contato">CONTATO</a>
      </li>
      <li class="nav-item {% if page.url == '/categorias/#{{ categories[0] }}/' %}active{% endif %} dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CATEGORIAS</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          {% for categories in site.categories %}
            <a style="text-transform: uppercase;" class="dropdown-item" href="/categorias/#{{ categories[0] }}/">{{ categories[0] }}</a>
          {% endfor %}
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#facebook">FACEBOOK</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#twitter">TWITTER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#instagram">INSTAGRAM</a>
        </li>
      </ul>
    </form>
  </div>
</nav>