<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if page.url == '/' %}active{% endif %}">
        <a class="nav-link" href="/">INÍCIO</a>
      </li>
      <li class="nav-item {% if page.url == '/empresa/' %}active{% endif %}">
        <a class="nav-link" href="/empresa/">EMPRESA</a>
      </li>
      <li class="nav-item dropdown {% if page.url == '/produtos/' %}active{% endif %}">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PRODUTOS</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          {% for category in site.categories %}
            <a style="text-transform: uppercase;" class="dropdown-item" href="/produtos/#{{ category[0]|slugize }}">{{ category[0] }}</a>
          {% endfor %}
        </div>
      </li>
      <li class="nav-item {% if page.url == '/orcamento/' %}active{% endif %}">
        <a class="nav-link" href="/orcamento">ORÇAMENTO</a>
      </li>
      <li class="nav-item {% if page.url == '/contato/' %}active{% endif %}">
        <a class="nav-link" href="/contato">CONTATO</a>
      </li>
    </ul>
  </div>
</nav>
