@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

:root {
  --jumbotron-padding-y: 3rem;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 200px;
  min-height: 100%;
  padding-top: 3.5rem;
  font-family: 'Montserrat', sans-serif;
  background-color: #f8f9fa!important;
}

.bg-dark {
  /*background-color: #90EE90!important;*/
  /*background-color: #00A859!important;*/
}

.bg-light {
  background-color: #f8f9fa!important;
}

.bg-igow {
  background-color: #6EC9E0!important;
}

.text-indent {
  padding-left: 10px;
  padding-right: 10px;
  text-indent: 40px;
  text-align: left;
}

.text-tag {
  width: 100%;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

.card-text {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.card-img-top {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.img-galeria {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 19%;
}

@media (max-width: 768px) {
  .img-galeria {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 24%;
  }
}

.opacity,.hover-opacity:hover {
  opacity:0.60;
}
.opacity-off,.hover-opacity-off:hover {
  opacity:1;
}
.opacity-max {
  opacity:0.25;
}
.opacity-min {
  opacity:0.75;
}

/* BOTÃO DO SLIDE */

.button {
  border:none;
  display:inline-block;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
}
.button {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.button:disabled{cursor:not-allowed;opacity:0.3}.disabled *,:disabled *{pointer-events:none}
.button:first-child{background-color:#ccc;color:#000}
.bar-block .dropdown-hover .button,.bar-block .dropdown-click .button{width:100%;text-align:left;padding:8px 16px}
.button{white-space:normal}
.button:focus {
  outline: 5px auto #6EC9E0;
}
.dropdown-hover.mobile,.dropdown-hover.mobile .btn,.dropdown-hover.mobile .button,
.dropdown-click.mobile,.dropdown-click.mobile .btn,.dropdown-click.mobile .button{width:100%}}
.button:hover {
  color:#000!important;
  background-color:#ccc!important;
}

.display-left {
  position:absolute;
  top:40%;
  left:0%;
  transform:translate(0%,-50%);
  -ms-transform:translate(-0%,-50%);
}

.display-right {
  position:absolute;
  top:40%;
  right:0%;
  transform:translate(0%,-50%);
  -ms-transform:translate(0%,-50%);
}

.black,.hover-black:hover {
  color:#fff!important;
  background-color:#343a40!important;
}

@media (max-width: 768px) {
  .display-left {
    position:absolute;
    top:35%;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%);
  }

  .display-right {
    position:absolute;
    top:35%;
    right:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%);
  }
}

/* FIM BOTÃO DO SLIDE*/

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  color: #fff;
  /*background-color: #00A859!important;*/
  background-color: #343a40!important;
}

footer a {
  color: #fff;
}

footer a:link, footer a:hover {
  color: #fff;
  text-decoration:none;
}

.linksimple {
  color: #212529;
}

.linksimple:link, linksimple:hover {
  color: #212529;
  text-decoration:none;
}


footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
