@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

:root {
  --jumbotron-padding-y: 3rem;
}

a {
  color: #fff;
}

a:link, a:hover {
  color: #fff;
  text-decoration:none;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 200px;
  min-height: 100%;
  padding-top: 3.5rem;
  font-family: 'Montserrat', sans-serif;
  background-color: #f8f9fa!important;
}

.bg-dark {
  background-color: #90EE90!important;
}

.bg-light {
  background-color: #f8f9fa!important;
}

.text-indent {
  padding-left: 10px;
  padding-right: 10px;
  text-indent: 40px;
  text-align: left;
}

.text-tag {
  width: 100%;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

.card-text {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.card-img-top {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.img-galeria {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 19%;
}

@media (max-width: 768px) {
  .img-galeria {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 100%;
  }
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  color: #fff;
  background-color: #90EE90!important;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
